
/* estilos.css */

body {
    background-color: #D5F5E3; /* Color claro para el fondo de toda la página */
    font-family: 'Arial', sans-serif;
}

/* Contenedor principal para el encabezado */
header {
    display: flex; /* Establece el contenedor como flexbox para que sus hijos (logo y nav) estén alineados horizontalmente */
    justify-content: space-between; /* Esto hará que el logo y la nav estén separados al máximo posible dentro del contenedor */
    align-items: center; /* Alinea verticalmente el contenido en el centro */
    padding: 10px 20px; /* Espacio alrededor del encabezado para darle un poco de respiro */
}

/* Estilo para el logo */
.logo {
    font-size: 24px; /* Tamaño del texto del logo, puedes ajustarlo según tus necesidades */
    font-weight: bold;
    margin-right: 20px; /* Espacio a la derecha del logo */
}

/* Estilo para la navegación */
/* Estilos para el logo en el encabezado */
#logo {
    float: left; /* Alinea el logo a la izquierda */
    margin-right: 20px; /* Espacio a la derecha del logo */
    max-width: 150px; /* Tamaño máximo de ancho */
    max-height: 150px; /* Tamaño máximo de alto */
}

/* Estilos para la navegación en el encabezado */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #000; /* Color de los enlaces */
}


.img-fluid {
    width: 100%; /* Imágenes se adaptan al contenedor */
    border-radius: 15px; /* Bordes redondeados para las imágenes */
    transition: transform 0.3s;
}

.img-fluid:hover {
    transform: scale(1.05); /* Efecto de "zoom" cuando se pasa el ratón sobre las imágenes */
}

smaller-text p {
    font-size: 0.85em;
}

p {
    text-align: justify;
    text-justify: inter-word;
    margin: 10px;
    padding: 10px;
    background-color: #D5F5E3; /* Fondo verde claro semitransparente para el texto */
    border-radius: 15px; /* Bordes redondeados para las áreas de texto */
}


/* estilos main pag inicio*/
main.container-fluid {
    height: calc(100vh - alturaDelEncabezado - alturaDelPieDePagina); 
    /* Reemplaza 'alturaDelEncabezado' y 'alturaDelPieDePagina' con las alturas correspondientes si las conoces. Si no, puedes ajustar manualmente la altura.*/
}

/* Para que la imagen grande y las imágenes pequeñas con su texto ocupen todo el espacio vertical */
.row > div {
    display: flex;
    flex-direction: column;
}

/* Asegura que las imágenes ocupen todo el alto disponible */
.img-fluid {
    max-height: 100%;
    width: auto;
}

/* Asegura que los contenedores de texto ocupen todo el espacio restante al lado de las imágenes */
.col-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto; /* Agrega scroll si el contenido de texto es demasiado */
    justify-content: space-between;
}

/* Texto más pequeño para el segundo contenedor de texto */
.smaller-text p {
    font-size: 17px;
}

/* Para que sea responsive en pantallas pequeñas */
@media (max-width: 767px) {
    /* Las imágenes y textos se mostrarán uno debajo del otro en dispositivos pequeños */
    .row > div, .col-6, .col-5 {
        display: block;
    }

    /* Las imágenes ocuparán todo el ancho en dispositivos pequeños */
    .img-fluid {
        width: 100%;
        max-height: none;
    }
}

/* Estilo del contenedor principal del pie de página */
footer {
    width: 100%;  /* Asegura que el footer ocupe todo el ancho de la página */
    padding: 20px;
    background-color: #524b4b;
    border-top: 1px solid #7e7c7c;
}

/* Estilo de cada sección del pie de página */
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
    color: #333;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

.footer-section a {
    text-decoration: none;
    color: #007BFF;  /* Azul de Bootstrap */
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #0056b3;  /* Azul oscuro al pasar el cursor */
}

.footer-section button.btn {
    margin-top: 10px;
}
